# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Datos generados y descargados
public/landfills.geojson
public/media/

# Si tienes archivos temporales de tus scripts
temp/
*.log
public/data/changelog.json
.gitignore
public/data/announcements.json
manage-content.js
